<html>
<body>
<form name="input" action="/insertcustomer" method="post">
Entity: <input type="text" name="entity">
<br>
ABN: <input type="text" name="abn">
<br>
Code: <input type="text" name="code">
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>
