<html>
<body>
<form name="input" action="insertuser" method="post">
First name: <input type="text" name="firstname">
<br>
Last name: <input type="text" name="lastname">
<br>
Email: <input type="text" name="email">
<br>
Mobile: <input type="text" name="mobile">
<br>
Classification: <br>
<input type="checkbox" name="classification" value="Consulting">Consulting<br>
<input type="checkbox" name="classification" value="Scoping">Scoping<br>
<input type="checkbox" name="classification" value="Design">Design<br>
<input type="checkbox" name="classification" value="Slicing">Slicing<br>
<input type="checkbox" name="classification" value="Development">Development<br>
<input type="checkbox" name="classification" value="Production">Production<br>
<input type="submit" value="Submit">
</form>
</body>
</html>
