<html>



Estimate ID: <%= estimateid %>

<br>

<form name="input" action="http://127.0.0.1:1212/approve" method="post">

<input type="submit" value="Approve" />

</form>



<form name="input" action="http://127.0.0.1:1212/reject" method="post">

<input type="button" value="Reject" onclick="window.location = 'http://localhost/nodejs' " />

</form>

</html>
