<html>
<form name="input" action="/updateatime" method="post">
Milestone ID: <%= milestoneid %>
<br>
Classification:
<%= classification %>
<br>
Hours:
<%= hours %>
<br>
<input type="checkbox" name="finished"> Finished
<br>
Time:
<input type="text" name="time">
<br>
<input type="submit" value="Submit">
<input type="button" value="Cancel" onclick="window.location = '/' " />
</form>
</html>
