<html>
<form name="input" action="/updateatime" method="post">
Milestone ID: <%= milestoneid %>
<br>
Classification:
<br>
Producer: <%= classification %>
<br>
Hours:
<br>
Classification: <%= hours %>
<br>
<input type="checkbox" name="finished"> Finished
Time:
<input type="text" name="time">

<input type="submit" value="Submit">
<input type="button" value="Cancel" onclick="window.location = '/' " />
</form>
</html>
