<html>

<body>
<form action="selectcustomer">
<button type="submit" class="btn">New</button>
</form>

<form action="selectestimate">
<button type="submit" class="btn">Existing</button>
</form>

</body>

</html>
