<html>

<body>


<form action="/selectappestimate">
<button type="submit" class="btn">Approvals</button>
</form>

<form action="/selectchecked">
<button type="submit" class="btn">Completions</button>
</form>

<form action="/customerinvoice">
<button type="submit" class="btn">Invoices</button>
</form>

</body>

</html>
