<html>

<body>
<form action="internal">
<button type="submit" class="btn">Internal</button>
</form>

<form action="external">
<button type="submit" class="btn">External</button>
</form>

</body>

</html>
