<html>

<body>
<form action="customerpage">
<button type="submit" class="btn">Customer</button>
</form>

<form action="estimatepage">
<button type="submit" class="btn">Estimate</button>
</form>

<form action="management">
<button type="submit" class="btn">Management</button>
</form>

</body>

</html>
