<html>

<body>
<form action="adduser">
<button type="submit" class="btn">Add User</button>
</form>

<form action="showactivities">
<button type="submit" class="btn">Show Activities</button>
</form>

</body>

</html>
