<html>

<body>
<form action="choosedate">
Reference Date: <input type="date" name="reference">

<button type="submit" class="btn">Proceed</button>
<button type="submit" class="btn">Cancel</button>

</form>
</body>

</html>
